@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
    color: #333;
}
header {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header img {
    max-width: 200px;
    margin-top: 10px;
}
main {
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    line-height: 1.6;
}
ul {
    list-style-type: disc;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left;
    max-width: 600px;
}
p, ul, img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.button-container {
    margin: 30px 0;
    text-align: center;
}
.button-container a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #003366;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
}
.button-container a:hover {
    background-color: #00509e;
}
img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
